{% extends 'base.html' %}

{% block title %}IT Careers Co.{% endblock title %}
{% block header %} {{ super() }} {% endblock header %} {{ super() }} 
{% block content %}
    <h1>IT Careers</h1>
    <img id="banner" src="{{ url_for('static', filename="assets/img/career-banner.jpg") }}"
    alt="career-banner" width="100%" />
    <h2>About IT Careers Co.</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
        incididunt ut labore et dolore magna aliqua. Elit at imperdiet dui accumsan
        sit amet nulla. Nunc sed augue lacus viverra vitae congue eu. Volutpat
        maecenas volutpat blandit aliquam etiam erat velit scelerisque in. Lectus arcu
        bibendum at varius. Morbi tristique senectus et netus. Nulla porttitor massa
        id neque aliquam vestibulum. Malesuada nunc vel risus commodo viverra maecenas
        accumsan lacus. Quam adipiscing vitae proin sagittis nisl rhoncus mattis. Sed
        turpis tincidunt id aliquet risus feugiat in. Id volutpat lacus laoreet non
        curabitur. Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Duis
        at tellus at urna condimentum mattis pellentesque id. Facilisis volutpat est
        velit egestas dui id ornare arcu odio. Posuere urna nec tincidunt praesent
        semper feugiat nibh sed pulvinar. Sit amet commodo nulla facilisi nullam
        vehicula ipsum a arcu. Ornare quam viverra orci sagittis. Urna porttitor
        rhoncus dolor purus non enim praesent. Hendrerit gravida rutrum quisque non
        tellus orci ac auctor augue.
    </p>
    <p>
        Sed vulputate mi sit amet mauris. Tincidunt
        praesent semper feugiat nibh sed pulvinar proin gravida hendrerit. Vitae
        aliquet nec ullamcorper sit. Orci ac auctor augue mauris augue neque.
        Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt. Ornare
        suspendisse sed nisi lacus sed viverra tellus in. Integer vitae justo eget
        magna fermentum. Amet nisl suscipit adipiscing bibendum est ultricies integer
        quis. Nisl vel pretium lectus quam id leo in vitae turpis. Interdum varius sit
        amet mattis. Amet consectetur adipiscing elit ut aliquam purus sit amet.
        Fringilla urna porttitor rhoncus dolor purus non enim praesent. Ultrices mi
        tempus imperdiet nulla malesuada pellentesque. Mauris augue neque gravida in
        fermentum et sollicitudin ac orci. Viverra maecenas accumsan lacus vel
        facilisis volutpat est. Dolor sed viverra ipsum nunc aliquet bibendum enim
        facilisis gravida. Diam quam nulla porttitor massa. Quisque non tellus orci ac
        auctor augue mauris. Morbi enim nunc faucibus a pellentesque sit. At erat
        pellentesque adipiscing commodo elit at.
    </p>
    <h2>Open Positions</h2>
    <p>TODO - Jobs list</p>
    <div style="text-align:center">
        <button>Contact Us</button>
    </div>
{% endblock content %}
